<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <span class="tittle">CREATE USER</span>
                    <form class="mt-3" [formGroup]="userForm" (ngSubmit)="addUser()">
                        <div class="mb-3">
                            <input type="text" formControlName="name" class="form-control form-control-lg"
                                placeholder="Name">
                            <!-- Este div permite mostrar un mensaje de error si el usuario no rellena el campo -->
                            <div class="text-danger"
                                *ngIf="userForm.get('name')?.hasError('required') && userForm.get('name')?.touched">
                                <span>
                                    The user name <strong>is required</strong>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="lastname" class="form-control form-control-lg"
                                placeholder="Lastname">
                            <!-- Los signos de interrogación deben ir para evitar el error de posiblemente null -->
                            <div class="text-danger"
                                *ngIf="userForm.get('lastname')?.hasError('required') && userForm.get('lastname')?.touched">
                                <span>
                                    The user last name <strong>is required</strong>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="email" formControlName="email" class="form-control form-control-lg"
                                placeholder="Email">
                            <div class="text-danger"
                                *ngIf="userForm.get('email')?.hasError('required') && userForm.get('email')?.touched">
                                <span>
                                    The email <strong>is required</strong>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="password" class="form-control form-control-lg"
                                placeholder="Password">
                            <div class="text-danger"
                                *ngIf="userForm.get('password')?.hasError('required') && userForm.get('password')?.touched">
                                <span>
                                    The user name <strong>is required</strong>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control form-control-lg" placeholder="Confirm Password">
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="petName" class="form-control form-control-lg"
                                placeholder="Pet Name">
                        </div>
                        <div class="mb-3">
                            <br>
                            <h3 class="tittle">Feeding Schedule:</h3>
                            <label>Monday:</label>
                            <input type="time" formControlName="mondayFeedingTime" class="form-control form-control-lg">
                            <div class="text-danger"
                                *ngIf="userForm.get('mondayFeedingTime')?.hasError('required') && userForm.get('mondayFeedingTime')?.touched">
                                <span>
                                    Feeding time <strong>is required</strong>
                                </span>
                            </div>
                            <br>
                            <label>Tuesday:</label>
                            <input type="time" formControlName="tuesdayFeedingTime"
                                class="form-control form-control-lg">
                            <div class="text-danger"
                                *ngIf="userForm.get('tuesdayFeedingTime')?.hasError('required') && userForm.get('tuesdayFeedingTime')?.touched">
                                <span>
                                    Feeding time <strong>is required</strong>
                                </span>
                            </div>
                            <br>
                            <label>Wednesday:</label>
                            <input type="time" formControlName="wednesdayFeedingTime"
                                class="form-control form-control-lg">
                            <div class="text-danger"
                                *ngIf="userForm.get('wednesdayFeedingTime')?.hasError('required') && userForm.get('wednesdayFeedingTime')?.touched">
                                <span>
                                    Feeding time <strong>is required</strong>
                                </span>
                            </div>
                            <br>
                            <label>Thursday:</label>
                            <input type="time" formControlName="thursdayFeedingTime"
                                class="form-control form-control-lg">
                            <div class="text-danger"
                                *ngIf="userForm.get('thursdayFeedingTime')?.hasError('required') && userForm.get('thursdayFeedingTime')?.touched">
                                <span>
                                    Feeding time <strong>is required</strong>
                                </span>
                            </div>
                            <br>
                            <label>Friday:</label>
                            <input type="time" formControlName="fridayFeedingTime" class="form-control form-control-lg">
                            <div class="text-danger"
                                *ngIf="userForm.get('fridayFeedingTime')?.hasError('required') && userForm.get('fridayFeedingTime')?.touched">
                                <span>
                                    Feeding time <strong>is required</strong>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-secondary btn-lg float-start" routerLink="/">GO BACK</button>
                            <button type="submit" [disabled]="userForm.invalid"
                                class="btn btn-success btn-lg float-end">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>