<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <span class="tittle">CREATE USER</span>
                    <form class="mt-3">
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Name">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Lastname">
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control form-control-lg" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control form-control-lg" placeholder="Password">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control form-control-lg" placeholder="Confirm Password">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Pet Name">
                        </div>
                        <div class="mb-3">
                            <br>
                            <h3 class="tittle">Feeding Schedule:</h3>
                            <label>Monday:</label>
                            <input type="time" class="form-control form-control-lg">
                            <br>
                            <label>Tuesday:</label>
                            <input type="time" class="form-control form-control-lg">
                            <br>
                            <label>Wednesday:</label>
                            <input type="time" class="form-control form-control-lg">
                            <br>
                            <label>Thursday:</label>
                            <input type="time" class="form-control form-control-lg">
                            <br>
                            <label>Friday:</label>
                            <input type="time" class="form-control form-control-lg">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-secondary btn-lg float-start" routerLink="/">GO BACK</button>
                            <button class="btn btn-success btn-lg float-end">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>