<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="tittle">USERS LIST</span>
          <button class="btn btn-success float-end" routerLink="/create-user">NEW</button>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Lastname</th>
                <th scope="col">Email</th>
                <th scope="col">Pet's Name</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Victor</td>
                <td>Gutierrez</td>
                <td>vicprueba@gmail.com</td>
                <td>Filomena</td>
                <td>
                  <i class="fa-solid fa-pen-to-square text-primary"></i>
                  <i class="fa-solid fa-trash text-danger"></i>

                </td>
              </tr>
              <tr>
                <td>Karen</td>
                <td>Gutierrez</td>
                <td>kaprueba@gmail.com</td>
                <td>Konny</td>
                <td>
                  <i class="fa-solid fa-pen-to-square text-primary"></i>
                  <i class="fa-solid fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>